/herokuapp-tests/selenium-automation/java/target/classes/org/example/App.class
/herokuapp-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/herokuapp-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/herokuapp-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/herokuapp-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/herokuapp-tests/selenium-automation/java/target/surefire-reports/org.example.AppTest.txt
/herokuapp-tests/selenium-automation/java/target/surefire-reports/TEST-org.example.AppTest.xml
/herokuapp-tests/selenium-automation/java/target/test-classes/org/example/AppTest.class
/herokuapp-tests/selenium-automation/java/target/test-classes/org/example/Dog.class
/saucedemo-tests/selenium-automation/java/target/classes/org/example/Main.class
/saucedemo-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/saucedemo-tests/selenium-automation/java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/webdriver_java/target/classes/pages/DropdownPage.class
/webdriver_java/target/classes/pages/EmailSentPage.class
/webdriver_java/target/classes/pages/ForgotPasswordPage.class
/webdriver_java/target/classes/pages/HomePage.class
/webdriver_java/target/classes/pages/HoversPage$FigureCaption.class
/webdriver_java/target/classes/pages/HoversPage.class
/webdriver_java/target/classes/pages/LoginPage.class
/webdriver_java/target/classes/pages/SecureAreaPage.class
/webdriver_java/target/test-classes/base/BaseTests.class
/webdriver_java/target/test-classes/tests/DropdownTests.class
/webdriver_java/target/test-classes/tests/ForgotPasswordTests.class
/webdriver_java/target/test-classes/tests/HoverTests.class
/webdriver_java/target/test-classes/tests/LoginTests.class
